<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="/notes.css" />
		<title>Notes</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="index">
				<h1>Notes</h1>
				<div class="introduction">
					This page contains various notes I've collected on various
					(technical) subjects. That can be small code snippets, handy
					commands etc.<br /><br />
				</div>
				Filter by subject:<br />
				<ul>
					{{SUBJECTS}}
				</ul>
			</div>
			<div class="noteContent">
				{{CONTENT}}
			</div>
			<div class="footer">notes.zerodogg.org - Copyright &copy; <a href="http://www.zerodogg.org/">Eskild Hustvedt</a><br />
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licensed under the Creative Commons Attribution-ShareAlike 4.0 International License</a><br />
                Built from notebucket revision <a href="https://codeberg.org/zerodogg/notebucket/commit/{{GITREV}}">{{GITREV}}</a>. Updated on {{GITDATE}}. <a href="https://codeberg.org/zerodogg/notebucket">Fork it on Codeberg</a>
			</div>
		</div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="/notes.js"></script>
        {{GOATCOUNTER}}
	</body>
</html>
