$defaultBackground: #D2CFC5;
$darkBackground: #131418;
$textColor: black;
$headerColor: $textColor;
$darkTextColor: #BDBDBD;
html
{
	overflow-y: scroll;
	font-family: sans-serif;
    &,body
    {
        background-color:#D2CFC5;
        color: $textColor;
        @media (prefers-color-scheme: dark)
        {
            background-color:$darkBackground;
            color: $darkTextColor;
        }
    }
}
a, a:visited, .category .title
{
	cursor:pointer;
	color:black;
	text-decoration:underline;
    @media (prefers-color-scheme: dark)
    {
        background-color:$darkBackground;
        color: $darkTextColor;
    }
}
.wrapper
{
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
.catTitle
{
	font-size:18pt;
	font-weight:bold;
	padding-bottom:5px;
    a
    {
        cursor:default;
        text-decoration:none;
    }
}
.category
{
    .title
    {
        font-weight: bold;
    }
    #notecontent
    {
        display:block;
    }
    .content
    {
        display:none;
    }
}
.section, .index
{
	padding-bottom:1em;
}
.introduction
{
	max-width:500px;
}
.footer
{
	font-size:10pt;
}
pre
{
    white-space:pre-wrap;
}
